<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.makemepulse.sunpower"
    android:versionCode="1"
    android:versionName="1.0"
    android:installLocation="preferExternal" >

    <uses-sdk android:minSdkVersion="15"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    
    <application android:name=".global.SunpowerApp"
                 android:label="@string/app_name"
                 android:icon="@drawable/ic_launcher"
                 android:theme="@style/ThemeDarkActionBar">

        <activity android:name=".screens.Home"
                  android:screenOrientation="landscape"
                  android:theme="@style/ThemeDarkActionBar"/>
        
        <activity android:name=".screens.Login"
                  android:screenOrientation="landscape"
                  android:theme="@style/ThemeNoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".screens.argumentarie.Argumentarie"
                  android:screenOrientation="landscape"
                  android:theme="@style/ThemeDarkActionBar"/>

        <activity android:name=".screens.Administrator"
            android:screenOrientation="landscape"
            android:theme="@style/ThemeDarkActionBar"/>

        <activity android:name=".screens.checklist.Checklist"
                  android:screenOrientation="landscape"
                  android:theme="@style/ThemeDarkActionBar"/>
        
    </application>
</manifest>
